README.md
solution/target/test-classes/es/codeurjc/test/CalculatorParserTest.class
solution/target/surefire-reports/TEST-es.codeurjc.test.CalculatorParserTest.xml
solution/target/surefire-reports/es.codeurjc.test.CalculatorParserTest.txt
solution/target/surefire-reports/2025-06-05T01-10-00_678-jvmRun1.dumpstream
solution/target/surefire-reports/2025-06-05T01-10-00_678-jvmRun1.dump
solution/target/surefire-reports/2025-06-05T01-09-29_655-jvmRun1.dump
solution/target/surefire-reports/2025-06-05T01-09-29_655-jvmRun1.dumpstream
solution/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
solution/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
solution/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
solution/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
solution/target/classes/es/codeurjc/test/CalculatorParser.class
README.md
solution/target/test-classes/es/codeurjc/test/CalculatorParserTest.class
solution/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
solution/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
solution/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
solution/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
solution/target/classes/es/codeurjc/test/CalculatorParser.class
